/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
	Layout and Design by Spencer Labadie and Justin Labadie, Slickremix.com
-------------------------------------------------------------- */
html {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	/* vertical-align: baseline; */
}
body {
	line-height: 1;
}


body:before {
background: none;
box-shadow: 0 0 0 rgba(0, 0, 0, 0);
content: "";
display: block;
height: 100%;
min-height: 100%;
position: fixed;
top: 0;
left: 0;
width: auto;
z-index: 0;
}

body, html {
	background:none !important;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
	float: left;
	margin: 0 -240px 0 0;
	width: 100%;
}
#content {
	margin: 0 280px 0 20px;
}
#primary, #secondary {
	float: right;
	overflow: hidden;
	width: 220px;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}
/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	margin: 0 auto;
	width: 640px;
}
/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
	margin: 0 auto;
	width: 900px;
}
/* =Fonts
-------------------------------------------------------------- */
body, input, textarea, .page-title span, .pingback a.url {
	font-family: Arial, Helvetica, sans-serif;
}
h3#comments-title, h3#reply-title, #access .menu, #access div.menu ul, #cancel-comment-reply-link, .form-allowed-tags, #site-info, #site-title, #wp-calendar, .comment-meta, .comment-body tr th, .comment-body thead th, .entry-content label, .entry-content tr th, .entry-content thead th, .entry-meta, .entry-title, .entry-utility, #respond label, .navigation, .page-title, .pingback p, .reply, .widget-title, .wp-caption-text, input[type=submit] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#access .menu-header, div.menu, #colophon, #branding, #main, #wrapper {
	margin: 0 auto;
	width: 940px;
}
#wrapper {
	background: #fff;
	margin-top: 20px;
	padding: 0 20px;
}
/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
#site-generator {
	float: right;
	width: 220px;
}
/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	background: #f1f1f1;
}
body, input, textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}
/* Text elements */
p {
	/* margin-bottom: 18px; */
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite, blockquote em, blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup, sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"], textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}
a:link {
	color: #0066cc;
}
a:visited {
	color: #743399;
}
a:active, a:hover {
	color: #ff4b33;
}
/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}
.clear {
	clear: both
}
.border-none {
	border: none !important
}
.design-template {
	background-color: #000000;
}
.color-green {
	color: #13cb50;
}
.color-red {
	color: #f00c0c;
}
h2 {
	float: left;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	font-size: 22px;
}
a.close {
	float: right;
	cursor: pointer;
	width: 40px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24px;
	padding: 0 0 0 1px;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	margin: 0;
}
.design-request-form-wrap a.close {
	margin: 5px 0 0 3px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a:hover.close {
	color: #CCC;
}
.mLl3 {
	margin-left: 13px;
}
.forms-wrapper {
	margin: 0 auto;
	width: 990px;
	position: relative;
}
.pop-up-backg {
	background-color: #222121;
	z-index: 10;
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	opacity: .8;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
a {
	outline: none;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
}
a:hover {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
/*moz hack */
.color-dark-grey {
	color: #979797;
}
/*===============================================================
	Design Approval Template Header
================================================================*/
body#design-template {
	background: url(../images/designer-backg-grey.png) no-repeat top left #000 !important;
	font-family: verdana, arial, sans-serif;
	min-width: 990px;
}
.header-top {
	height: 12px;
	background-color: #323232;
}
.header-wrap {
	width: 965px;
	min-width: 990px;
	position:relative;
	margin: 0 auto;
	height: 111px;
	background: url(../images/header-wrap-backg.png) left top no-repeat #000000;
}
.header-info-wrap {
	/* width: 820px; */
	height: 84px;
	padding-top: 13px;
	letter-spacing: 0.04em;
	position:relative;
	/* z-index:500; */
}
.logo-top {
	width: 149px;
	height: 41px;
	float: right;
}
.main-logo {
	width: 112px;
	height: 34px
}
.designers-name-wrap {
	text-align: right;
	color: #FFFFFF;
	font-size: 12px;
}
.header-title-notes-wrap {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
	display: block;
	float: left;
	color: #bfbfbf;
	font-size: 13px;
	min-height:53px;
	position:absolute;
	left:130px;
}
.header-title-text {
	float: left;
	list-style-type: none;
	margin: 0 0 0 28px;
	padding: 0;
	text-align: right;
	display: block;
	color: #cdc9c9;
	font-size: 12px;
	font-weight:bold;
}
.main-logo-tab {
	margin-left:15px;
	height: 41px;
	float: right;
	background-color: #323232;
}

.main-checkout-tab {
	width: auto;
	height: 41px;
	float: right;
	background-color: #323232;
	margin-right:-14px;
	margin-left:18px;
	color:#FFF;
	position:relative;
	z-index:5000;
	
}

.main-checkout-tab p {
	border:none !important;
	padding:5px 10px 0 15px !important;
}
.add_to_cart_button {
	
background: -moz-linear-gradient(top, #b6b5b5 0%, #dbdbdb 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, from(#b6b5b5), to(#dbdbdb)) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6b5b5', endColorstr='#dbdbdb') !important;
	color: #000000 !important;
}
.main-checkout-tab a {
	/* background:url(../images/80-shopping-cart@2x.png) no-repeat; */
	background-size:25px 25px;
	height:12px !important;
	padding:6px 10px !important;
	margin-left:10px !important;
	display:block;
	box-shadow:0px;
	color:#FFF ;
	text-shadow:none !important;
	font-weight:normal !important;
	border-radius:0px !important;
}
.main-checkout-tab .add_to_cart_button:before {
	color:#FFF ;
	top: 6px !important;
}
.main-checkout-tab a.added_to_cart {
	color:#FFF !important;
	padding-left:12px !important;
}
.main-logo {
	display: block;
	margin: auto;
}
a.version-tab, a.hide-notes, a.project-timeline, a.versions, a.logout-btn {
	height: 25px;
	padding: 0 20px;
	background-color: #323232;
	display: block;
	padding-top: 5px;
	text-align: center;
	margin-left: 1px;
	float: right;
	text-decoration: none;
	color: #1295DA;
}
a.hide-notes, a.versions, a.logout-btn {
	color: #CCC;
	padding: 5px 25px 0 25px;
}
a:hover.version-tab {
	color: #1295DA;
}
a:hover.hide-notes, a:hover.versions, a:hover.logout-btn {
	color: #1295DA;
}
a.project-timeline {
	color: #CCC !important;
}
a:hover.project-timeline {
	color: #CCC !important;
}
.design-client-email, .design-client-permalink {
	display: none;
}
/*===============================================================
	Design Approval Template Photos
================================================================*/
.designers-photo-wrap {
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	border-top: 12px solid #323232;
	width: 100%;
	background-color: #000000;
	text-align: center !important;
}
.designers-photo-wrap img { 
	display:inline-block;
}
#design-template .hentry {
	margin: 0 !important;
	padding: 0 !important;
}
.designers-photo-content {
	height: auto;
	margin: 0 auto;
	line-height: normal;
	position: relative;
	text-align: center;
}
.designers-photo-content img {
	margin: 0;
	padding: 0;
	border: none;
}
.designers-photo-content a {
	margin: 0;
	padding: 0;
	border: none;
}
.designers-photo-content p {
	margin: 0;
	padding: 0;
}
.designs-ol {
	list-style-position: inside;
	font-size: 24px;
	color: #0095DA;
	text-align: start;
}
/*===============================================================
	Design Approval Template Content
================================================================*/
.designers-notes-wrap {
	width: 990px;
	margin: auto;
	padding-top: 15px;
	background: url(../images/designer-notes-bottom.png) bottom left no-repeat;
	padding-bottom: 38px;
	margin-bottom: 2px;
	z-index: 0;
	position: relative;
}
.designers-notes-content-left-wrap {
	float: left;
	width: 550px;
	height: auto;
	border-right: 15px solid #000000;
	min-height: 297px;
}
.designers-notes-content-left {
	height: auto;
	padding: 28px 0px 28px 20px;
	color: #cbcfd3;
	font-size: 13px;
	line-height: 20px;
	text-align: justify;
	font-weight: normal;
	background-color: #323232;
}
.designer-notes-text {
	padding: 0 35px 0 17px;
	min-height: 47px
}
.designers-notes-content-right-wrap {
	float: left;
	width: 425px;
	height: auto;
}
.designers-notes-content-right {
	padding: 25px 35px 31px 20px;
	height: auto;
	color: #1295DA;
	font-size: 13px;
}
.changes-wrap {
	border-top: 1px solid #3D3C3D;
}
.client-notes-tab {
	/* height: 28px; */
	background-color: #323232;
	color: #0095da;
	font-size: 16px;
	/* float: left; */
	padding: 25px 16px 15px 0px;
}
.designers-notes-tab {
	/* height: 28px; */
	background-color: #323232;
	color: #0095da;
	font-size: 16px;
	margin-left: 20px;
	float: left;
	padding: 9px 16px 9px 16px;
}
.designers-options-tab {
	/* height: 28px; */
	background-color: #323232;
	color: #FFFFFF;
	font-size: 16px;
	float: left;
	padding: 9px 16px 9px 16px;
}
.designers-notes-backg {
	background: url(../images/designer-notes-backg.jpg) repeat-x;
	height: auto;
	border-bottom: 21px solid #323232;
	border-top: 15px solid #323232;
	position: relative;
	z-index: 0;
	clear: both;
	min-width: 990px;
}
a.design-option-btn {
	display: block;
	/* height: 20px; */
	width: 106px;
	text-align: center;
	padding: 6px 0;
	margin-top: 11px;
	color: #000000;
	background: -moz-linear-gradient(top, #b6b5b5 0%, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#b6b5b5), to(#dbdbdb));
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6b5b5', endColorstr='#dbdbdb');
	text-decoration: none;
	font-size: 13px;
}
a:hover.design-option-btn {
	color: #333333;
	background: -moz-linear-gradient(top, #dbdbdb 0%, #b6b5b5 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#b6b5b5));
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#b6b5b5');
}
.header-tabs-wrap {
	min-width: 700px;
	position:absolute;
	right:0;
	z-index:400;
	bottom:1px;
}
/*===============================================================
	status-Approved FORM
================================================================*/
.approved-form-wrap {
	background-color: #100f0f !important;
	width: 508px;
	padding: 40px 53px 44px 63px;
	display: none;
	z-index: 10000;
	top: 17px;
	left: 174px;
	position: absolute;
}
.approved-form-wrap h2 {
	margin: 0;
	padding: 0;
}
.approved-form-text {
	color: #d7d8d9;
	padding: 10px 0 10px 0;
	line-height: 14px;
}
.digital-signature-wrap {
	padding: 10px 0 10px 0;
}
.label-digital-signature {
	margin: 0 auto;
	width: 430px;
}
.label-digital-signature label {
	padding-left: 125px;
	font-size: 18px;
	color: #c4c6c7;
	line-height: 50px;
}
.label-digital-signature input {
	width: 315px;
	height: 33px;
	padding-left: 10px;
	line-height: 10px !important;
	text-align: left !important;
	font-size: 16px !important;
	color: #c4c6c7;
	background-color: #403d3d;
	float: left;
	margin-right: 2px;
	outline: none;
	border: none;
	border-radius:0px;
	-webkit-border-top-left-radius: .3em;
	-webkit-border-bottom-left-radius: .3em;
	-moz-border-radius-topleft: .3em;
	-moz-border-radius-bottomleft: .3em;
}
.label-digital-signature .das-submit-signature {
	color: #e0e2e3 !important;
	background-color: #403d3d;
	display: inline-block !important;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	width: auto !important;
 *display: inline !important;
	vertical-align: baseline !important;
	margin: 0 auto !important;
	outline: none !important;
	cursor: pointer !important;
	text-align: center !important;
	text-decoration: none !important;
	font-size: 13px !important;
	height: 19px !important;
	line-height: 21px !important;
	padding: 8px 17px 10px 17px !important;
	-webkit-border-top-right-radius: .3em !important;
	-webkit-border-bottom-right-radius: .3em!important;
	-moz-border-radius-topright: 0.3em!important;
	-moz-border-radius-bottomright: 0.3em!important;
	-webkit-border-top-left-radius: 0 !important;
	-webkit-border-bottom-left-radius: 0 !important;
	-moz-border-radius-topleft: 0 !important;
	-moz-border-radius-bottomleft: 0 !important;
	float: left !important;
}
#human1, #human2, #human3, #human4 {
	display: none;
}
.approved-thankyou-form-wrap, .design-request-thankyou-form-wrap {
	background-color: #100f0f !important;
	width: 508px;
	padding: 40px 72px;
	display: none;
	z-index: 10000;
	top: 125px;
	left: 174px;
	position: absolute;
}
.approved-thankyou-form-text, .design-request-thankyou-form-text {
	color: #d7d8d9;
	padding: 10px 0 10px 0;
}
.dig-sig-thank-you-message, .design-request-thank-you-message {
	text-align: center;
	font-size: 16px;
	color: #c4c6c7;
}
.not-needed {
	display: none;
}
.design-selection-number {
	padding: 0;
	color: #999;
}
.hightlight1 {
     background: rgb(255, 255, 190) !important;   
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
/*===============================================================
	status-Design Request FORM
================================================================*/
.design-request-form-wrap {
	background-color: #100f0f;
	width: 801px;
	height: 279px;
	padding: 35px 75px 35px 66px;
	display: none;
	z-index: 10000;
	top: 16px;
	left: 20px;
	position: absolute;
	overlflow: hidden;
}
.das-submit-requests {
	display: inline-block;
	height: auto !important;
	width: 150px !important;
	text-align: center;
	border: none !important;
	outline: none !important;
	padding: 8px 0 !important;
	color: #000000 !important;
	background: -moz-linear-gradient(top, #b6b5b5 0%, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#b6b5b5), to(#dbdbdb));
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6b5b5', endColorstr='#dbdbdb');
	text-decoration: none;
	font-size: 13px !important;
	position: absolute;
	top: 31px;
	right: 118px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.das-submit-requests:hover {
	color: #333333;
	background: -moz-linear-gradient(top, #dbdbdb 0%, #b6b5b5 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#b6b5b5));
 	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#b6b5b5');
	float: right;
	cursor: pointer;
	text-decoration:none;
}
.design-requests-area {
	width: 801px;
	height: 216px;
}
.design-tab-button-wrap a {
	height: 20px;
	padding: 7px 20px;
	background-color: #403d3d;
	text-align: center;
	margin-right: 3px;
	float: left;
	text-decoration: none;
	color: #e0e2e3;
}
.design-tab-selected {
	border-bottom: 2px solid #403d3d;
}
.requests-wrap {
	width: 779px;
	height: 202px;
	padding: 5px;
	margin-top: 6px;
	float: left;
	background-color: #403d3d;
	box-shadow: 0 0 3px #eee;
}
.requests-wrap textarea {
	width: 751px;
	height: 160px;
	padding: 12px;
	font-size: 14px;
	background-color: #dedbdb;
}

.requests-wrap textarea.dastinymcedisabled  {
	min-height:176px;
}
#b1 {
	display: block;
}
#b2 {
	display: none;
}
#b3 {
	display: none;
}
#b4 {
	display: none;
}
.design-request-form-wrap h2 {
	float: left;
	font-size: 20px;
}
.design-request-form-text {
	color: #d7d8d9;
}
#human2 {
	display: none;
}
.additional-changes-button-wrap2 {
	margin: 0 auto;
	width: 314px;
	height: 34px;
}
a.submit-additional-requests2 {
	display: inline-block;
	height: 20px;
	width: 220px;
	text-align: center;
	padding: 6px 0;
	margin-top: 11px;
	color: #000000;
	background: -moz-linear-gradient(top, #b6b5b5 0%, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#b6b5b5), to(#dbdbdb));
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6b5b5', endColorstr='#dbdbdb');
	text-decoration: none;
	font-size: 14px;
	float: left;
}
a:hover.submit-additional-requests2 {
	color: #333333;
	background: -moz-linear-gradient(top, #dbdbdb 0%, #b6b5b5 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#b6b5b5));
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#b6b5b5');
}
a.cancel-additional-requests2 {
	display: inline-block;
	height: 20px;
	width: 81px;
	text-align: center;
	padding: 6px 0;
	margin-top: 11px;
	color: #000000;
	background: -moz-linear-gradient(top, #b6b5b5 0%, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#b6b5b5), to(#dbdbdb));
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6b5b5', endColorstr='#dbdbdb');
	text-decoration: none;
	font-size: 14px;
	float: right;
}
a:hover.cancel-additional-requests2 {
	color: #333333;
	background: -moz-linear-gradient(top, #dbdbdb 0%, #b6b5b5 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#b6b5b5));
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#b6b5b5');
}
/*===============================================================
	Additional Changes FORM
================================================================*/
.additional-design-request-form-wrap {
	background-color: #100f0f;
	width: 519px;
	height: auto;
	padding: 42px 63px 41px 63px;
	display: none;
	z-index: 10000;
	top: 66px;
	left: 175px;
	position: absolute;
}
.submit-additional-requests {
	height: 20px;
	width: 220px !important;
	text-align: center !important;
	border: none !important;
	outline: none !important;
	padding: 6px 0 !important;
	color: #000000 !important;
	background: -moz-linear-gradient(top, #b6b5b5 0%, #dbdbdb 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#b6b5b5), to(#dbdbdb)) !important;
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6b5b5', endColorstr='#dbdbdb') !important;
	text-decoration: none;
	font-size: 14px !important;
	line-height:19px;
	position: absolute;
	/* top: 144px; */
	left: 163px;
}
.submit-additional-requests:hover {
	color: #333333 !important;
	background: -moz-linear-gradient(top, #dbdbdb 0%, #b6b5b5 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#b6b5b5));
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#b6b5b5');
}
a.cancel-additional-requests {
	display: inline-block;
	height: 20px;
	width: 81px;
	text-align: center;
	padding: 6px 0;
	line-height:19px;
	/* margin-top: 11px; */
	color: #000000;
	background: -moz-linear-gradient(top, #b6b5b5 0%, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#b6b5b5), to(#dbdbdb));
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6b5b5', endColorstr='#dbdbdb');
	text-decoration: none;
	font-size: 14px;
	float: right;
}
a:hover.cancel-additional-requests {
	color: #333333;
	background: -moz-linear-gradient(top, #dbdbdb 0%, #b6b5b5 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#b6b5b5));
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#b6b5b5');
}
.additional-design-request-form-wrap h2 {
	float: left;
}
.additional-design-request-form-text {
	color: #d7d8d9;
	padding-top: 15px;
	padding: 15px 0 24px;
}
.additional-changes-button-wrap {
	margin: 0 auto;
	width: 314px;
	height: 34px;
}
#human3 {
	display: none;
}
/*===============================================================
	Email for Designer FORM
================================================================*/
#send-email-for-designer {
	background: none!important;
	border: none!important;
	outline: none!important;
	color: #888!important;
	font-size: 13px !important;
	line-height: 20px !important;
	text-decoration: none !important;
	cursor: pointer !important;
	margin: 0px !important;
	padding: 0px !important;
}
#send-email-for-designer:hover {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	text-decoration: none !important;
	color: #FFF !important;
}
.post-edit-link:hover {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	text-decoration: none !important;
	color: #FFF !important;
}
span#send-email-for-designer-done {
	display: none;
	color: #0095da;
}
#design-template .entry-meta a, #design-template .entry-utility a {
	color: #888;
}
/*==========================================
	Design Page - Drop Down Menu
===========================================*/
#das-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}
#das-nav li {
	position: relative;
	float: right;
	display: block;
}
#das-nav li ul {
	height: auto;
	min-width: 162px;
	z-index: 5000;
	padding-top: 10px;
	position: absolute;
	top: 30px;
	left: -29px;
	border-top:1px solid #000;
	background-color: #323232;
	-moz-box-shadow: 2px 2px 11px #323232;
	-webkit-box-shadow: 2px 2px 11px #323232;
	list-style-type: none;
	line-height: inherit;
	margin:0;
	display: none;
}
#das-nav ul li {
	line-height: 22px;
	border-bottom: 1px solid #333;
	padding: 0;
	margin: 0;
	display: block;
}
#das-nav ul li a {
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
	display: block;
	padding: 10px 30px;
}
#das-nav ul li a:hover {
	color: #42B7F8;
	background: #333;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
/*==========================================
	Hide Notes Tab
===========================================*/
.show-notes {
	display: none;
	text-align: right;
	width: 950px;
	color: #FFF;
	z-index: 9000;
	padding-right: 40px;
	margin: 0 auto;
	background-color: #323232;
	cursor: pointer;
}
.show-notes a {
	color: #FFF;
	text-decoration: none;
}
.show-notes a:hover {
	color: #0095da;
	text-decoration: none;
}
.client-notes-off {
	display: none !important;
}
/*===============================================================
	Designer Notes Area and Client Notes, that are hidden unless selected in wordpress.
================================================================*/
.client-notes {
	color: #999;
	margin-top: 25px;
	border-top: 1px solid #3D3C3D;
	padding: 0 35px 0 17px;
}
.client-notes-off {
	display: none;
}
.client-notes h3 {
	color: #0095da;
	margin: 25px 0 20px 0;
	font-size: 16px;
	line-height: 16px;
}
.entry-utility {
	margin-top: 15px
}
/*===============================================================
	Header logo, even though it says footer, it is the header
================================================================*/
#main-logo {
	max-height: 90px;
	margin: 0 auto;
	position: relative;
	padding: 10px 14px;
	overflow: hidden;
	text-align:center;
}
#main-logo img {
	z-index: 10;
}
.designers-notes-content-left-wrap .edit-link a:before {
content: "";
}

.post-edit-link {
background:none !important;
box-shadow:none !important;
border:none !important;
border-radius:0 !important;
color:#888 !important;
cursor:pointer;
font-weight:normal !important;
left:auto; 
margin:0;
height:auto;
overflow:visible;
padding: 0 !important;
position:relative;
text-decoration:none !important;
text-shadow:none !important;
}
.edit-link:before {
	content:'';
}
.amount {
	line-height:30px;
}
*  {
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
box-sizing:  inherit;
}