/*=================================================
	Design Approval System Settings Page
=================================================*/
.clear { clear: both; }
a:focus { outline: none; }
input[type=checkbox]#das-settings-smtp, .designapprovalsystem_page_das-clean-theme-settings-page input[type=checkbox] { vertical-align: -4px; }
.designapprovalsystem_page_design-approval-system-settings-page .buy-extensions-btn, .designapprovalsystem_page_das-design-login-settings-page .buy-extensions-btn, .designapprovalsystem_page_das-clean-theme-settings-page .buy-extensions-btn { margin-top: 0px; right: 0px; top: 0px; }
.designapprovalsystem_page_design-approval-system-projects-page .buy-extensions-btn { display: none; }
.buy-extensions-btn { margin-top: 22px; padding: 10px 25px 11px 25px; background-color: #CE1212 !important; border: none !important; color: #fff !important; font-weight: bold; cursor: pointer !important; position: absolute; right: 21px; top: 0px; text-decoration: none; -webkit-transition: background 2s; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; }
.display { display: block !important; }
.designapprovalsystem_page_design-approval-system-tutorials-page .use-of-plugin h3 { color: #fff; font-weight: normal; font-size: 18px; margin: 13px 0 0; }
.designapprovalsystem_page_design-approval-system-tutorials-page .use-of-plugin h3 a:hover { color: #f3f3f3; }
.designapprovalsystem_page_design-approval-system-tutorials-page .use-of-plugin h3:first-child { margin: 30px 0 0 0; }
.designapprovalsystem_page_design-approval-system-tutorials-page .use-of-plugin { padding: 0 0 75px 0; font-size: 14px; }
.use-of-plugin { color: rgb(168, 168, 168); font-weight: normal; font-size: 14px; padding-bottom: 8px; }
.subtext-of-title { color: rgb(199, 196, 196); margin-bottom: 10px; font-size: 12px; }
.designapprovalsystem_page_das-clean-theme-settings-page .das-settings-admin-wrap { max-width: 975px; }
.smtp-test-email-send-button { padding: 8px 30px; border: 1px solid #2C527A; text-decoration: none; color: #fff; background: #2872B8; display: block; display: inline-block; margin-bottom: -15px; text-align: center; -webkit-transition: background 2s; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; }
.smtp-test-email-send-button:hover { background: #2C527A; color: #fff; border: 1px solid #2C527A; }
.das-settings-admin-wrap { min-height: 379px; background: url(../images/das-settings-back2.png) center top; background-color: #000000; padding: 25px 28px 70px 28px; -webkit-box-shadow: 2px 3px 7px 1px #ddd; box-shadow: 2px 3px 7px 1px #ddd; -webkit-border-radius: 10px; border: 1px solid #ccc; border-radius: 1px; position: relative; margin: 25px 17px 0 0; }
.das-settings-admin-wrap h2 { color: rgb(255, 255, 255); font-size: 28px; margin: -8px 0 15px -2px; line-height: 32px; }
.das-settings-admin-wrap h3 { color: #FFFFFF; padding-top: 12px; margin-bottom: 6px; font-size: 18px; text-shadow: 1px 1px 3px #000000; }
.das-settings-admin-wrap h4 { color: #000; font-size: 14px; margin-bottom: 5px; margin-top: 10px; }
.das-settings-admin-form { width: 100%;/* padding: 0px 0 20px; */
}
.das-settings-admin-input-wrap { background-color: #f3f3f3; padding: 10px 20px; margin-bottom: 10px; border: 1px solid #CFCACA; -webkit-border-radius: 4px; border-radius: 4px; -webkit-border-radius: 0px; }
.das-settings-admin-input-label { margin-right: 10px; font-size: 13px; font-weight: bold; text-transform: uppercase; padding-bottom: 4px; }
.das-settings-admin-input-label a { text-decoration: none; cursor: pointer; font-size: 13px; color: red; -webkit-transition: background 2s; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; }
.das-settings-admin-input-label a:hover { color: grey; }
.pb-board-and-fep-options input { margin: 5px 0 10px 0; }
.pb-board-and-fep-options .das-settings-admin-input-label { margin: 0 0 10px 0; }
.company-info-style { background-color: rgba(240, 243, 245, 0.78) !important; color: #000; }
.das-settings-admin-wrap .upload_image_button { margin-top: 5px; margin-left: -1px !important; padding: 9px 20px; background-color: #CD1723; border: none; color: #fff !important; font-weight: bold; cursor: pointer; float: left; font-size: 12px; -webkit-transition: background 2s; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; }
.upload-logo-size { float: left; width: 350px; margin-left: 15px; margin-top: 2px; }
.das-settings-admin-input-example { font-weight: normal; padding-top: 3px; padding-bottom: 10px; font-size: 12px; color: #797979; }
.company-info-style .das-settings-admin-input-example { color: #333; }
.das-settings-admin-input-example a, .das-video-admin-wrap a { cursor: pointer; -webkit-transition: background 2s; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; }
.das-settings-admin-input:focus { background-color: #f0f0f0; color: #000; outline: none; }
.das-settings-admin-input { width: 100%; padding: 10px 10px; margin-left: -1px; font-size: 13px; -webkit-transition-duration: 400ms; -webkit-transition-property: width, background; -webkit-transition-timing-function: ease; -moz-transition-duration: 400ms; -moz-transition-property: width, background; -moz-transition-timing-function: ease; -o-transition-duration: 400ms; -o-transition-property: width, background; -o-transition-timing-function: ease; }
.das-settings-admin-submit-btn { margin-top: 7px; padding: 10px; font-size: 13px; background-color: #CD1723 !important; border: none !important; color: #fff !important; cursor: pointer !important; }
.designapprovalsystem_page_design-approval-system-projects-page .das-settings-admin-slick-logo { display: none; }
.designapprovalsystem_page_design-approval-system-projects-page .das-settings-admin-slick-logo { background: url(../images/footer-logo.png) left no-repeat; bottom: 7px; margin-left: 24px; }
.designapprovalsystem_page_design-approval-system-help-page .das-settings-admin-slick-logo { bottom: 19px; right: 20px; -webkit-border-radius: 3px; border-radius: 3px; }
.designapprovalsystem_page_das-clean-theme-settings-page .das-settings-icon-wrap { margin-right: 12px; }
.das-settings-icon-wrap { float: right; height: 34px; }
.das-settings-icon-wrap a.facebook-icon { float: right; display: block; height: 28px; width: 28px; cursor: default; outline: none; border: none; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; }
.das-settings-icon-wrap a:hover { opacity: .95; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; }
.das-settings-icon-wrap a.facebook-icon { background: url(../images/facebook-icon.png) no-repeat; background-size: 28px 28px; cursor: pointer; }
.das-settings-admin-slick-logo { background: url(../images/footer-logo.png) center no-repeat; background-color: #333; width: 108px; height: 20px; padding: 4px 8px !important; display: block; float: right; margin-right: 1px; -webkit-border-radius: 0px; border-radius: 0px; }
.designapprovalsystem_page_design-approval-system-news-updates-page .das-video-admin-wrap .das-settings-admin-slick-logo, .designapprovalsystem_page_design-approval-system-video-page .das-video-admin-wrap .das-settings-admin-slick-logo { bottom: 7px; left: 0px; -webkit-border-radius: 3px; border-radius: 3px; }
.das-video-admin-wrap .das-settings-admin-slick-logo { bottom: 7px; right: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.das-settings-admin-slick-logo:hover { opacity: .9; }
.das-settings-facebook-btn { width: 250px; position: absolute; bottom: 19px; right: 269px; }
.das-settings-paypal-btn { width: 200px; position: absolute; bottom: 13px; right: 144px; }
.smpt-form-wrap { margin: 30px 20px 30px 20px; }
.checkbox-input { margin-top: 10px !important; }
.checkbox-label { margin-top: 0px; }
#das-settings-smtp, #das-clean-theme-settings-custom-css, #das-clean-theme-settings-project-board-btn { margin: 0px 7px 0 2px !important; }
.das-smtp-custom, .das-wp-header-custom { margin-bottom: 5px; }
.smpt-form-wrap label { width: 30%; text-align: right; line-height: 15px; padding: 5px; display: inline-block; }
.smpt-form-wrap input, #das-smtp-authenticate-password { width: 45%; margin: 5px 0; padding: 10px; display: inline-block; }
.smpt-form-wrap select { width: 20%; margin: 15px 0; display: inline-block; }
#das-smtp-checkbox-authenticate { width: 17px; height: 17px; margin: 10px 0 !important; }
@media screen and (max-width: 782px) {
input#das-smtp-checkbox-authenticate { width: 25px; !important;
height: 25px; !important;
}
.smpt-form-wrap input, .smpt-form-wrap select, .smpt-form-wrap #das-smtp-checkbox-authenticate { display: block; float: none; margin: 0 !important; }
.smpt-form-wrap input, .smpt-form-wrap select { width: 100%; margin: 5px 0; padding: 10px; display: inline-block; }
.smpt-form-wrap label { display: block; float: none; text-align: left; margin: 15px 0 4px !important; padding: 0; width: 100%; }
}
/*=================================================
	Design Approval System admin how to's
=================================================*/
.das-settings-id-answer { padding: 15px 0 0 0; display: none; margin-top: 10px; font-weight: bold; border-top: 1px solid #ccc; }
.das-settings-id-answer h4 { padding: 0; margin: 5px 0 -6px 0; }
.das-settings-id-answer span { display: block; color: #999; font-size: 13px; margin: 15px 0 0 0; }
.das-settings-id-answer img { margin: 10px 0px 14px 0; max-width: 100%; height: auto; text-align: left; clear: both; float: left; }
.das-settings-id-answer ul { padding: 8px 0 0 0; clear: both; margin: 0; }
.das-settings-id-answer ul li { margin: 0 0 4px 0; }
.das-settings-id-answer a { cursor: pointer !important; }
.im-done { margin-top: 0px; padding: 7px 38px; background-color: #CD1723; border: none; color: #fff; font-size: 14px; -webkit-border-radius: 1px; border-radius: 1px; cursor: pointer; float: left; display: block; clear: both; -webkit-transition: background 2s; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; }
a.im-done:hover, .upload_image_button:hover, .das-settings-admin-submit-btn:hover, .buy-extensions-btn:hover { background: #919191 !important; -webkit-transition: background 2s; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; color: #f1f1f1; }
.das-settings-admin-submit-btn { padding: 10px 35px; margin-top: 0px; float: left; -webkit-transition: background 2s; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; border-radius: 1px; margin-left: 0px; }
/*=================================================
	Design Approval System admin HELP PAGE
=================================================*/
.das-admin-help-wrap { padding: 0 20px 10px 0; }
.das-help-admin-wrap { width: auto; background: none; padding: 10px 0 45px 0px; position: relative; margin-top: 0px; margin-right: 0px; min-width: 673px; }
.das-help-admin-wrap .use-of-plugin { color: #888; font-weight: normal; font-size: 12px; text-align: justify; background: #FFF; line-height: 18px; margin: 10px 0 25px 0; padding: 15px 20px 15px 17px; border: 1px solid #DFDFDF; }
.das-help-admin-wrap li { margin-top: -10px; line-height: 23px; }
.das-help-admin-wrap h2 { color: #CC0303; font-size: 23px; font-weight: bold; margin: 0px 25px 15px 0; height: 30px; text-shadow: 0 0px 0px #222; padding: 15px 0 5px 59px; background: url(../images/das-help-icon.png) 0 11px no-repeat; background-size: 50px; border-bottom: 1px solid #DBDBDB; }
.das-help-admin-wrap h3 { padding: 0; margin-bottom: 10px; font-size: 18px; color: #555; }
.das-help-admin-wrap a { text-decoration: none; cursor: pointer !important; -webkit-transition: background 2s; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; }
.das-help-admin-wrap ol li { margin: 5px 0 0px 0px; line-height: 17px; }
#das-debug-report { font-family: monospace; display: none; width: 100%; margin-bottom: 20px; height: 200px; }
a.das-debug-report { padding: 1px 7px 2px 7px; background: #E6E6E6; }
.das-admin-help-faqs-wrap { line-height: 21px; }
.das-admin-help-faqs-wrap ol { margin: 12px 27px; }
 @keyframes fade {  from {
opacity: 1.0;
}
 50% {
opacity: 0.5;
}
to { opacity: 1.0; }
}
 @-webkit-keyframes fade {  from {
opacity: 1.0;
}
 50% {
opacity: 0.5;
}
to { opacity: 1.0; }
}
/*=================================================
	Design Approval System admin VIDEO PAGE
=================================================*/
.das-video-admin-wrap { width: auto; padding: 10px 0px 45px 0px; position: relative; margin-right: 11px; min-width: 673px; background: url(../images/das-videos-icon.png) 0 22px no-repeat; background-size: 48px; }
.das-news-admin-wrap { min-width: 580px !important; }
.das-news-admin-wrap .use-of-plugin { margin-bottom: 2px !important; }
.das-video-admin-wrap h2 { color: #CC0303; font-size: 23px; font-weight: bold; margin: 0px 25px 15px 0; height: 30px; text-shadow: 0 0px 0px #222; padding: 15px 0 5px 59px; border-bottom: 1px solid #DBDBDB; }
.das-video-admin-wrap .use-of-plugin { color: #333; margin-bottom: 10px; line-height: 21px; }
.das-video-admin-wrap h3 { color: #21759B !important; text-decoration: none !important; padding: 0; font-size: 15px; text-shadow: 0px 0px 0px #000; }
.iframe-wrap { width: 620px; float: left; padding-left: 0px; padding: 0 15px 12px; text-align: center; border: 1px dashed #FFF; background: #E2E2E2; border-radius: 0px; margin: 15px 15px 5px 0px; }
.project-notes-wrap { display: none; }
.project-notes-entry-utility { display: none; }
.iframe-wrap a { text-decoration: none; }
.iframe-odd { margin-left: 0px; }
.das-news-admin-wrap h2 { background-size: 50px !important; }
.das-video-admin-wrap iframe { margin-bottom: 0px !important; -webkit-box-shadow: 0px 2px 6px #888; box-shadow: 0px 2px 6px #888; background: #000; -webkit-transition: background 5s; background: #000; border: 10px solid #333; -webkit-transition: background 2s; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; }
.das-video-admin-wrap iframe:hover { margin-bottom: 0px !important; border: 10px solid #666; -webkit-box-shadow: 0px 2px 6px #444; box-shadow: 0px 2px 6px #666; -webkit-transition: background 2s; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; border: 10px solid #666; }
/*=================================================
	Design Approval System admin PROJECT PAGE
=================================================*/
.das-project-admin-wrap-main { width: auto; background: none; padding: 14px 20px 30px 0px; position: relative; margin-top: 0px; margin-right: 0px;/* min-width: 673px; */
}
h2.project-board-header { background: url(../images/das-project-icon.png) 0 5px no-repeat !important; background-size: 45px 27px !important; color: #CC0303!important; font-size: 25px !important; margin: 6px 10px 17px 0 !important; height: 30px; padding: 10px 0 5px 56px !important; border-bottom: 1px solid #DBDBDB; }
.das-project-admin-wrap-main .use-of-plugin { color: #333; margin-bottom: 10px; line-height: 21px; margin-right: 30px; }
.das-project-admin-wrap-main h2 { color: #CC0303; font-size: 22px; margin: 15px 25px 0 0; height: 25px; text-shadow: 0 0px 0px #222; padding: 12px 0 0 34px; background: url(../images/das-project-client-icon.png) 0 9px no-repeat; background-size: 24px 27px; font-family: arial; line-height: .7em; }
.das-custom-checkbox-wrap { clear: both; }
.smtp-check-list { margin: 0 0 25px 20px; }
.das-custom-checkbox-wrap { padding: 11px 0; margin-top: 4px; border-top: 1px solid #ccc; }
input#das-settings-approve-login-overide, input#das-settings-changes-login-overide { margin: 10px 8px 11px 2px !important; }
@media (max-width: 767px) {
.buy-extensions-btn { display: none; }
}
