.clear {
	clear: both;
}
.buy-extensions-btn {
	margin-top: 15px;
	padding: 12px 25px;
	background-color: #CE1212 !important;
	border: none !important;
	color: #fff !important;
	font-weight: bold;
	text-shadow: 1px 1px 3px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
	cursor: pointer !important;
	position: absolute;
	right: 1px;
	top: -14px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	text-decoration: none;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.display {
	display: block !important;
}
.designapprovalsystem_page_design-approval-system-tutorials-page .use-of-plugin h3 {
	color: #fff;
	font-weight: normal;
	font-size: 18px;
	margin: 13px 0 0;
}
.designapprovalsystem_page_design-approval-system-tutorials-page .use-of-plugin h3 a:hover {
	color: #f3f3f3;
}
.designapprovalsystem_page_design-approval-system-tutorials-page .use-of-plugin h3:first-child {
	margin: 30px 0 0 0;
}
.designapprovalsystem_page_design-approval-system-tutorials-page .use-of-plugin {
	padding: 0 0 75px 0;
	font-size: 14px;
}
.use-of-plugin {
	color: rgb(168, 168, 168);
	font-weight: normal;
	font-size: 14px;
	padding-bottom: 8px;
}
.subtext-of-title {
	color: rgb(199, 196, 196); 
	margin-bottom: 10px;
	font-size:12px;
}
.das-settings-admin-wrap {
	width: 900px;
	background:url(../images/das-settings-back2.png) #000 !important;
	padding: 15px 25px 0;
	-webkit-box-shadow: 2px 3px 7px 1px rgb(151, 151, 151);
	box-shadow: 2px 3px 7px 1px rgb(180, 180, 180);
	-webkit-border-radius: 6px;
	border-radius: 5px;
	position: relative;
	margin-top: 17px;
	border: 1px solid rgb(202, 202, 202);
}
.das-settings-admin-wrap h2 {
	color: rgb(255, 255, 255);
	font-size: 28px;
	margin: 15px 0 15px -2px;
	text-shadow: 1px 1px 3px #000000;
}
.das-settings-admin-wrap h3 {
	color: #FFFFFF;
	padding-top: 12px;
	margin-bottom: 6px;
	font-size: 18px;
	text-shadow: 1px 1px 3px #000000;
}
.das-settings-admin-wrap h4 {
	color: #000;
	font-size: 14px;
	margin-bottom: 5px;
	margin-top: 10px;
}
.das-settings-admin-form {
	width: 100%;
	padding: 0px 0 20px;
}
.das-settings-admin-input-wrap {
	background-color: #f3f3f3;
	padding: 10px 20px;
	margin-bottom: 10px;
	border: 1px solid #CFCACA;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 6px;
}
.das-settings-admin-input-label {
	margin-right: 10px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 4px;
}
.das-settings-admin-input-label a {
	text-decoration: none;
	cursor: pointer;
	font-size: 13px;
	color: red;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.das-settings-admin-input-label a:hover {
	color: grey;
}
.company-info-style {
	background-color: rgba(240, 243, 245, 0.78) !important;
	color: #000;
}
.das-settings-admin-wrap .upload_image_button {
	margin-top: 5px;
	padding: 9px 20px;
	background-color: #CD1723;
	border: none;
	color: #fff !important;
	font-weight: bold;
	text-shadow: 1px 1px 3px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
	cursor: pointer;
	float: left;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.upload-logo-size {
	float: left;
	width: 350px;
	margin-left: 15px;
	margin-top: 2px;
}
.das-settings-admin-input-example {
	font-weight: normal;
	padding-top: 4px;
	font-size: 12px;
	color: #797979;
}
.company-info-style .das-settings-admin-input-example {
	color: #434343;
}
.das-settings-admin-input-example a, .das-video-admin-wrap a {
	cursor: pointer;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.das-settings-admin-input:focus {
	background-color: #f0f0f0;
	color: #000;
	outline: none;
}
.das-settings-admin-input {
	width: 100%;
	padding: 10px 10px;
	font-size: 13px;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
}
.das-settings-admin-submit-btn {
	margin-top: 15px;
	padding: 10px;
	background-color: #CD1723 !important;
	border: none !important;
	color: #fff !important;
	font-weight: bold;
	text-shadow: 1px 1px 3px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
	cursor: pointer !important;
}
.das-settings-admin-slick-logo {
	background: url(../images/footer-logo.png) center no-repeat;
	width: 124px;
	height: 20px;
	padding: 8px 12px;
	display: block;
	position: absolute;
	bottom: 12px;
	right: 12px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.das-video-admin-wrap .das-settings-admin-slick-logo {
	bottom: 7px;
	right: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.das-settings-admin-slick-logo:hover {
	opacity: .9;
}
.das-settings-facebook-btn {
	width: 250px;
	position: absolute;
	bottom: 19px;
	right: 269px;
}
.das-settings-paypal-btn {
	width: 200px;
	position: absolute;
	bottom: 12px;
	right: 146px;
}
/*=================================================
	Design Approval System admin how to's
=================================================*/
.das-settings-id-answer {
	padding: 15px 0 0 0;
	display: none;
	margin-top: 10px;
	font-weight: bold;
	border-top: 1px solid #ccc;
}
.das-settings-id-answer h4 {
	padding: 0;
	margin: 5px 0 -6px 0;
}
.das-settings-id-answer span {
	display: block;
	color: #999;
	font-size: 13px;
	margin: 15px 0 0 0;
}
.das-settings-id-answer img {
	margin: 10px 0 14px 0;
}
.das-settings-id-answer ul {
	padding: 8px 0 0 0;
	clear: both;
	margin: 0;
}
.das-settings-id-answer ul li {
	margin: 0 0 4px 0;
}
.das-settings-id-answer a {
	cursor: pointer !important;
}
.im-done {
	margin-top: 0px;
	padding: 7px 38px;
	background-color: #CD1723;
	border: none;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 3px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
	-webkit-border-radius: 3px;
	border-radius: 5px;
	cursor: pointer;
	float: left;
	display: block;
	clear: both;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
a.im-done:hover, .upload_image_button:hover, .das-settings-admin-submit-btn:hover, .buy-extensions-btn:hover {
	background: #919191 !important;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	color: #f1f1f1;
}
.das-settings-admin-submit-btn {
	padding: 10px 40px;
 margin-top: 30px  -webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	border-radius: 3px;
}
/*=================================================
	Design Approval System admin HELP PAGE
=================================================*/
.das-admin-help-wrap {
	padding: 0 25px 10px 0;
}
.das-help-admin-wrap {
	width: auto;
	background: none;
	background-color: #F3F3F3;
	padding: 15px 0 45px 25px;
	-webkit-box-shadow: 0px 3px 5px #FFF;
	box-shadow: 0px 3px 0px #FFF;
	-webkit-border-radius: 6px;
	border-radius: 5px;
	position: relative;
	border: 1px solid #aeaeae;
	margin-top: 20px;
	margin-right: 20px;
	min-width: 673px;
}
.das-help-admin-wrap .use-of-plugin {
	color: #888;
	font-weight: normal;
	font-size: 12px;
	text-align: justify;
	background: #FFF;
	line-height: 18px;
	margin: 10px 0 25px 0;
	padding: 15px 20px 15px 17px;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
}
.das-help-admin-wrap li {
	margin-top: -10px;
	line-height: 23px;
}
.das-help-admin-wrap h2 {
	color: #CC0303;
	font-size: 30px;
	margin: 5px 25px 15px 0;
	letter-spacing: -1px;
	height: 30px;
	text-shadow: 0 0px 0px #222;
	padding: 15px 0 5px 68px;
	background: url(../images/das-help-icon.png) 0 7px no-repeat;
	border-bottom: 1px solid #DBDBDB;
}
.das-help-admin-wrap h3 {
	padding: 0;
	margin-bottom: 10px;
	font-size: 18px;
	color: #555;
}
.das-help-admin-wrap a {
	text-decoration: none;
	cursor: pointer !important;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.das-help-admin-wrap ol li {
	margin: 5px 0 0px 0px;
	line-height: 17px;
}
#das-debug-report {
	font-family: monospace;
	display: none;
	width: 100%;
	margin-bottom: 20px;
	height: 200px;
}
a.das-debug-report {
	padding: 4px 7px;
	background: #E6E6E6;
	border-radius: 5px;
}
.das-admin-help-faqs-wrap {
	line-height: 21px;
}
.das-admin-help-faqs-wrap ol {
	margin: 12px 17px 31px 27px;
}
/*=================================================
	Design Approval System admin VIDEO PAGE
=================================================*/
.das-video-admin-wrap {
	width: auto;
	background: none;
	background-color: #F3F3F3;
	padding: 15px 0 45px 25px;
	-webkit-box-shadow: 0px 3px 5px #FFF;
	box-shadow: 0px 3px 0px #FFF;
	-webkit-border-radius: 6px;
	border-radius: 5px;
	position: relative;
	border: 1px solid #aeaeae;
	margin-top: 20px;
	margin-right: 20px;
	min-width: 673px;
}
.das-news-admin-wrap {
	min-width: 580px !important;
}
.das-news-admin-wrap .use-of-plugin {
	margin-bottom: 2px !important;
}
.das-video-admin-wrap h2 {
	color: #CC0303;
	font-size: 30px;
	margin: 5px 25px 15px 0;
	letter-spacing: -1px;
	height: 30px;
	text-shadow: 0 0px 0px #222;
	padding: 15px 0 5px 68px;
	background: url(../images/das-videos-icon.png) 0 7px no-repeat;
	border-bottom: 1px solid #DBDBDB;
}
.das-video-admin-wrap .use-of-plugin {
	color: #333;
	margin-bottom: 10px;
	line-height: 21px;
}
.das-video-admin-wrap h3 {
	color: #21759B !important;
	text-decoration: none !important;
	padding: 0;
	font-size: 15px;
	text-shadow: 0px 0px 0px #000;
}
.iframe-wrap {
	width: 620px;
	float: left;
	padding-left: 0px;
	padding: 0 15px 12px;
	text-align: center;
	border: 1px dashed #CCCCCC;
	background: #E2E2E2;
	border-radius: 5px;
	margin: 15px 15px 5px 0px;
}
.project-notes-wrap {
	display: none;
}
.project-notes-entry-utility {
	display: none;
}
.iframe-wrap a {
	text-decoration: none;
}
.iframe-odd {
	margin-left: 0px;
}
.das-news-admin-wrap h2 {
	background: url(../images/newspaper-icon.png) 0 6px no-repeat !important;
}
.das-video-admin-wrap iframe {
	margin-bottom: 0px !important;
	-webkit-box-shadow: 0px 2px 6px #888;
	box-shadow: 0px 2px 6px #888;
	background: #000;
	-webkit-transition: background 5s;
	background: #000;
	border: 10px solid #333;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.das-video-admin-wrap iframe:hover {
	margin-bottom: 0px !important;
	border: 10px solid #666;
	-webkit-box-shadow: 0px 2px 6px #444;
	box-shadow: 0px 2px 6px #666;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	border: 10px solid #666;
}
/*=================================================
	Design Approval System admin PROJECT PAGE
=================================================*/
.das-project-admin-wrap {
	width: auto;
	background: none;
	background-color: #F3F3F3;
	padding: 15px 0 35px 25px;
	-webkit-box-shadow: 0px 3px 5px #FFF;
	box-shadow: 0px 3px 0px #FFF;
	-webkit-border-radius: 6px;
	border-radius: 5px;
	position: relative; 
	box-shadow:0 0px 2px #999;
	margin-top: 20px;
	margin-right: 20px;
	min-width: 673px;
}
h2.project-board-header {
     background: url(../images/das-project-icon.png) 0 7px no-repeat !important;
	 background-size:50px 36px !important;
     color: #CC0303 !important;
	font-size: 32px !important;
	margin: 5px 25px 15px 0 !important;
	letter-spacing: -1px !important;
	height: 30px !important;
	text-shadow: 0 0px 0px #222 !important;
	padding: 15px 0 5px 65px !important;
	border-bottom: 1px solid #DBDBDB !important; 
}
.das-project-admin-wrap .use-of-plugin {
	color: #333;
	margin-bottom: 10px;
	line-height: 21px;
	margin-right:30px;
}
.das-project-admin-wrap h2 {
	color: #CC0303;
	font-size: 25px;
	margin: 15px 25px 0 0;
	letter-spacing: -1px;
	height: 25px;
	text-shadow: 0 0px 0px #222;
	padding: 12px 0 0 34px;
	background: url(../images/das-project-client-icon.png) 0 9px no-repeat;
	background-size:24px 27px;
	font-family:arial;
	line-height:.7em;
}
.das-project-admin-wrap h3 {
	color: #21759B !important;
	padding: 0;
	display:block;
	font-size: 14px;
	margin-bottom:15px;
	margin-right:25px;
	margin-top:5px;
	text-shadow: 0px 0px 0px #000;
	background:#eee;
	padding:11px 9px;
	box-shadow:0 2px 2px #aaa;
	position:relative;
	cursor:pointer;
	-webkit-transition: background 0.25s linear;
  -moz-transition: background 0.25s linear;
  transition: background 0.25s linear;
}
.das-project-admin-wrap h3:hover {
	color: #21759B !important;
	background:#fff;
}
.das-project-admin-wrap h3 span {
	color: #21759B;
	top:0px;
	right:0px;
	position:absolute;
	font-size: 15px;
	text-shadow: 0px 0px 0px #000;

	padding:11px 15px;
	box-shadow:0 1px 2px #aaa;
}
.das-project-list-wrap {
	margin:0px 20px 0 0;
	padding-left:7px;
	
}
.project-notes-wrap {
	display: none;
	margin-left:180px;
	margin-right: 30px;
	border-bottom: 1px solid rgb(228, 228, 228);
	/* box-shadow:0 1px 1px #777;
	margin-bottom: 40px; */
	background: rgb(235, 235, 235);
}
.project-notes-entry-utility {
	display: none;
}
.das-project-list {
	clear:both;
	margin:0;
	padding:0;
}
.das-project-list-wrap {
	display:none;	
}
.project-day-date {
    position:absolute;
    top:97px;
    left:7px; 
	z-index:10;
	width:150px;
	border-radius:5px;
	display:none;
	text-align:center;
	padding-top:10px; 
	color:#FFF;
	font-family:arial;
}
.project-notes-show {
    position:absolute;
    top:54px;
    left:77px; 
	z-index:10;
	border-radius:5px;
	display:none; 
	background:#FFF;
	padding:8px 10px;
	box-shadow:0 0 1px #aeaeae;
	   
}
.project-notes-edit {
    position:absolute;
    top:50px;
    left:25px;   
	z-index:10; 
	display:none;
	background:#eee;
	padding:10px 15px;
	color:#222;
	width:80px;
	text-align:left;
	border-radius:5px;
	border:2px solid #FFF;
	   
}
.project-notes-show-splitter {
       position:absolute;
     top:45px;
     left:30px; 
	z-index:10;  
}
.das-project-list li {
	display:inline-block;
	margin: 0 14px 23px 0;
	position:relative;
	vertical-align:text-top;
	min-height:189px;
}
.project-text-header-designer-notes, .project-text-header-client-notes, .project-notes-text-header {
	color: #FFF;
	background: rgb(109,109,109); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(109,109,109,1) 0%, rgba(124,124,124,1) 51%, rgba(114,114,114,1) 53%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,109,109,1)), color-stop(51%,rgba(124,124,124,1)), color-stop(53%,rgba(114,114,114,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(124,124,124,1) 51%,rgba(114,114,114,1) 53%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(124,124,124,1) 51%,rgba(114,114,114,1) 53%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(109,109,109,1) 0%,rgba(124,124,124,1) 51%,rgba(114,114,114,1) 53%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(109,109,109,1) 0%,rgba(124,124,124,1) 51%,rgba(114,114,114,1) 53%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#727272',GradientType=0 ); /* IE6-9 */
}
.project-text-header-designer-notes {
	font-size: 17px;
	font-weight: bold;
	padding: 8px 15px;
	margin: 5px 0 17px 0;
}
.project-text-header-client-notes {
	font-size: 17px;
	font-weight: bold;
	padding: 8px 15px;
	margin: 17px 0;
}
.project-notes-text-header {
	font-size: 17px;
	font-weight: bold;
	padding: 8px 15px;
	margin: 0 0 17px 0;
}
.project-notes-text-padding {
	padding: 0 15px;
	margin: 0 0 25px 0;
} 
.project-details-wrap {
	padding-bottom: 0px;
}
.project-notes-detail-text-wrap {
	line-height: 18px;
	padding: 0 20px 15px 15px;
	font-size: 13px;
}
.project-list-link {
	display: inline-block;
	white-space: nowrap;
	width: 150px;
	overflow: hidden;
	text-align:center;
	text-overflow: ellipsis;
	display:block;
	background:#EEE;
	padding-top:4px;
	height:15px;
	color:#777;
}
.das-project-list a {
	text-decoration: none;
	outline:none;
}
.project-notes-backg {
	height:150px;
	width:150px;
	background:#000;
	opacity:.5;	 
	position:absolute;
	top: 6px;
	left: 6px;
	z-index:5;
	border:1px solid #FFF; 
}
.project-large-thumbnail {
     float:left;  
     width:150px;
     border:7px solid #EEE;
     background:#EEE;
     box-shadow:0 0 3px #aaa;
     margin: 0;
}
.das-approved-design {
     position:absolute;
     top:163px; 
     background: url(../images/28-star@2x.png) no-repeat;
     background-size:18px 18px;
     height:18px;
     width:18px; 
     display:block;
}

.das-approved-design-title {
	  float: left;
	  position: relative;
	  background: url(../images/28-star@2x.png) no-repeat;
	  background-size: 18px 18px;
	  height: 18px;
	  min-width:18px;
	  margin-top: 25px;
	  display: block;
	  text-align: right;
	  line-height: 18px;
}
.das-approved-design-subtitle {
	  position: relative;
	  background: url(../images/28-star@2x.png) no-repeat;
	  background-size: 18px 18px;
	  height: 18px;
	  width: 18px;
	  display: inline-block;
	  text-align: right;
	  line-height: 22px;
	  margin:0px;
	  position:absolute;
	  top:9px;
	  right:49px;
	transition-delay: 0.2s;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.das-project-admin-wrap h3:hover .das-approved-design-subtitle {
	  background-size: 20px 20px; 
	  height: 20px;
	  width: 20px;
	  right:47px;
	  transform:rotate(95deg) scale(.95);
-ms-transform:rotate(95deg) scale(.95); /* IE 9 */
-webkit-transform:rotate(95deg) scale(.95); /* Safari and Chrome */;
	transition-delay: 0.2s;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
	
.outer-star {
     position:absolute;
     top:-45px;
     left: -27px; 
     background: url(../images/28-star@2x.png) no-repeat;
     background-size:18px 18px;
     height:18px;
     width:18px; 
     display:block !important;
}
.das-approved-design span.view-all-articles, .das-approved-design-title span.view-all-articles  {
	opacity:0;
	display:block;
	position:relative;
	right: 0px;
	height:17px; 
	top:25px;
	text-align:left;
	color:#FFF;
	font-weight:normal;
	letter-spacing:1px;
	font-size:11px;
	width:60px;
	background: rgba(0, 0, 0, 0.6);
	border-radius:1px;
	padding:3px 4px 3px 9px;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
} 
.das-approved-design a.icon-view-all:hover span.view-all-articles, .das-approved-design-title a.icon-view-all:hover span.view-all-articles  {
	opacity:1;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	z-index:10000;
}
/* create an arrow that points right */
.das-approved-design span.arrow-right, .das-approved-design-title span.arrow-right {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 4px;
    bottom: 23px;
    opacity: 0.8;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgb(34, 34, 34);
    font-size: 0px;
    line-height: 0px;
}
.project-large-thumbnail img {
     width:150px;
     height:150px;  
}
.pb-no-thumbnail-image {
     background: url(../images/no-image-thumb.jpg) no-repeat;
     height:150px;
     width:150px;
     margin-bottom:3px
}
.project-large-thumbnail img {
       
}
.pb-logged-out-link {
	padding:10px 22px 10px 10px !important;	
}
 @keyframes fade {
 from {
opacity: 1.0;
}
 50% {
opacity: 0.5;
}
to {
	opacity: 1.0;
}
}
 @-webkit-keyframes fade {
 from {
opacity: 1.0;
}
 50% {
opacity: 0.5;
}
to {
	opacity: 1.0;
}
}
.smpt-form-wrap {
     margin:15px 20px 30px 20px; 
}
.checkbox-input {
     margin-top:10px !important;   
}
.checkbox-label {
     margin-top:18px !important;   
}
#das-settings-smtp {
     width:17px;   
}
.das-smtp-custom {
     margin-bottom:5px;   
}
.smpt-form-wrap label {
     width:30%;
     text-align:right;
     margin-top:2px;
     line-height:15px;
     padding:5px;
     display:inline-block;
     
}
.smpt-form-wrap input {
     width:50%;
     margin-top:15px;
     padding:10px;
     display:inline-block;  
}