#adminmenu  #menu-posts-designapprovalsystem .wp-menu-image img {
	padding:2px 0 5px 0 !important;
}
#adminmenu a.menu-icon-designapprovalsystem {
	line-height:15px !important;
}
.menu-icon-designapprovalsystem .wp-submenu a, #menu-posts-designapprovalsystem .wp-submenua {
	-webkit-transition: background 2s !important;
	-webkit-transition: all 0.30s ease-in-out !important;
	-moz-transition: all 0.30s ease-in-out !important;
	-o-transition: all 0.30s ease-in-out !important;
	transition: all 0.30s ease-in-out !important;
}